*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
/* HEADER */
header{
    color: white;
}
.header-container{
    max-width: 1920px;
    max-height: 620px;
    position: relative;
    margin-bottom: 130px;
}
.header-cover{
    background-image: url(../my-pics/pp.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
.logo-about{
    padding: 20px;
}

.description{
    position: absolute;
    top: 40%;
    left: 65%;
}
.description h2{
    margin-bottom: 10px;
}
.decription-logos{
    margin-top: 10px;
}
.decription-logos a{
    margin-right: 5px;
    text-decoration: none;
}
.statifish{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.name{
    margin-bottom: 10px;
}
.logo-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ------------------------------------------------------ */
/* SECTION-1 */
.photo-me img{
    max-width: 430px;
}
.about-me-mini{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lorem{
    max-width: 300px;
}
.mini-desc{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
}
.skills-point{
    padding-left: 20px;
}
/* --------------------- */
/* section-2 */
.section-2{
    background-color: #131A36;
    margin-top: 100px;
}
.addres{
    margin: 0 40px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.phone2,
.addres2,
.email2{
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 15px;
}
.add-info p{
    margin: 10px;
}
